wsdl/ppu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2518="http://net.java/xsd" xmlns:ax2519="http://io.java/xsd" xmlns:ax2523="http://ppu.srcei.mtt.gob.cl/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://webServices" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webServices">
   <wsdl:documentation>PPUService</wsdl:documentation>
   <wsdl:types>
      <xs:schema xmlns:ax2520="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://net.java/xsd">
         <xs:import namespace="http://io.java/xsd" />
         <xs:complexType name="MalformedURLException">
            <xs:complexContent>
               <xs:extension base="ax2520:IOException">
                  <xs:sequence />
               </xs:extension>
            </xs:complexContent>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax2521="http://net.java/xsd" xmlns:ax2522="http://io.java/xsd" xmlns:ax2524="http://ppu.srcei.mtt.gob.cl/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://webServices">
         <xs:import namespace="http://net.java/xsd" />
         <xs:import namespace="http://io.java/xsd" />
         <xs:import namespace="http://ppu.srcei.mtt.gob.cl/xsd" />
         <xs:element name="PPUServiceMalformedURLException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="MalformedURLException" nillable="true" type="ax2521:MalformedURLException" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="PPUServiceIOException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="IOException" nillable="true" type="ax2522:IOException" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPlaca">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ppu" nillable="true" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getPlacaResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax2523:Placa" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://io.java/xsd">
         <xs:complexType name="IOException">
            <xs:sequence />
         </xs:complexType>
      </xs:schema>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://ppu.srcei.mtt.gob.cl/xsd">
         <xs:complexType name="Placa">
            <xs:sequence>
               <xs:element minOccurs="0" name="aaFabric" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="cancelacion" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="chasis" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="cid" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="encargo" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="limita" nillable="true" type="ax2523:Limita" />
               <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="motor" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="patente" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="propieAanter" nillable="true" type="ax2523:PropieAanter" />
               <xs:element minOccurs="0" name="propieActual" nillable="true" type="ax2523:PropieActual" />
               <xs:element minOccurs="0" name="seguro" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="subinsc" nillable="true" type="ax2523:Subinsc" />
               <xs:element minOccurs="0" name="tipoCombust" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="tipoVehi" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="valPBV" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Limita">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="itemLimita" nillable="true">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element minOccurs="0" name="titulo" type="xs:string" />
                        <xs:element minOccurs="0" name="documento" type="xs:string" />
                        <xs:element minOccurs="0" name="naturaleza" type="xs:string" />
                        <xs:element minOccurs="0" name="comuna" type="xs:string" />
                        <xs:element minOccurs="0" name="causa" type="xs:string" />
                        <xs:element minOccurs="0" name="ACausa" type="xs:string" />
                        <xs:element minOccurs="0" name="fechaDoc" type="xs:string" />
                        <xs:element minOccurs="0" name="autorizante" type="xs:string" />
                        <xs:element minOccurs="0" name="acreedor" type="xs:string" />
                        <xs:element minOccurs="0" name="repertorio" type="xs:string" />
                        <xs:element minOccurs="0" name="numReper" type="xs:string" />
                        <xs:element minOccurs="0" name="fecReper" type="xs:string" />
                        <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                        <xs:element minOccurs="0" name="tenedores">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="0" name="itemTenedores" nillable="true">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element minOccurs="0" name="nombres" type="xs:string" />
                                          <xs:element minOccurs="0" name="rut" type="xs:string" />
                                          <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PropieAanter">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="itemPropieaanter" nillable="true">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element minOccurs="0" name="propant">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element maxOccurs="unbounded" minOccurs="0" name="itemPropant" nillable="true">
                                    <xs:complexType>
                                       <xs:sequence>
                                          <xs:element minOccurs="0" name="nombres" type="xs:string" />
                                          <xs:element minOccurs="0" name="rut" type="xs:string" />
                                       </xs:sequence>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="oficina" type="xs:string" />
                        <xs:element minOccurs="0" name="nro" type="xs:string" />
                        <xs:element minOccurs="0" name="fecha" type="xs:string" />
                        <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="PropieActual">
            <xs:sequence>
               <xs:element minOccurs="0" name="fecAquis" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="nro" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="oficina" nillable="true" type="xs:string" />
               <xs:element minOccurs="0" name="propact" nillable="true" type="ax2523:Propact" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Propact">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="itemPropact" nillable="true">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element minOccurs="0" name="nombres" type="xs:string" />
                        <xs:element minOccurs="0" name="rut" type="xs:string" />
                        <xs:element minOccurs="0" name="calle" type="xs:string" />
                        <xs:element minOccurs="0" name="nro" type="xs:string" />
                        <xs:element minOccurs="0" name="restdom" type="xs:string" />
                        <xs:element minOccurs="0" name="comuna" type="xs:string" />
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Subinsc">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="itemSubinsc" nillable="true">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element minOccurs="0" name="nombreSub" type="xs:string" />
                        <xs:element minOccurs="0" name="detalle" type="xs:string" />
                        <xs:element minOccurs="0" name="empty" type="xs:boolean" />
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="getPlacaRequest">
      <wsdl:part name="parameters" element="ns:getPlaca" />
   </wsdl:message>
   <wsdl:message name="getPlacaResponse">
      <wsdl:part name="parameters" element="ns:getPlacaResponse" />
   </wsdl:message>
   <wsdl:message name="PPUServiceIOException">
      <wsdl:part name="parameters" element="ns:PPUServiceIOException" />
   </wsdl:message>
   <wsdl:message name="PPUServiceMalformedURLException">
      <wsdl:part name="parameters" element="ns:PPUServiceMalformedURLException" />
   </wsdl:message>
   <wsdl:portType name="PPUService_API_TramitesPortType">
      <wsdl:operation name="getPlaca">
         <wsdl:input message="ns:getPlacaRequest" wsaw:Action="urn:getPlaca" />
         <wsdl:output message="ns:getPlacaResponse" wsaw:Action="urn:getPlacaResponse" />
         <wsdl:fault message="ns:PPUServiceIOException" name="PPUServiceIOException" wsaw:Action="urn:getPlacaPPUServiceIOException" />
         <wsdl:fault message="ns:PPUServiceMalformedURLException" name="PPUServiceMalformedURLException" wsaw:Action="urn:getPlacaPPUServiceMalformedURLException" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PPUService_API_TramitesSoap11Binding" type="ns:PPUService_API_TramitesPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="getPlaca">
         <soap:operation soapAction="urn:getPlaca" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="PPUServiceIOException">
            <soap:fault use="literal" name="PPUServiceIOException" />
         </wsdl:fault>
         <wsdl:fault name="PPUServiceMalformedURLException">
            <soap:fault use="literal" name="PPUServiceMalformedURLException" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PPUService_API_Tramites">
      <wsdl:port name="PPUService_API_TramitesHttpSoap11Endpoint" binding="ns:PPUService_API_TramitesSoap11Binding">
         <soap:address location="http://ws.mtt.cl/services/PPUService_API_Tramites.PPUService_API_TramitesHttpSoap11Endpoint" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>